@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

html {
  font-size: 62.5%;
}

@media only screen and (min-width: 160em) {
  html {
    font-size: 100%;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
